.wrapper {
  min-height: 100%;
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
}

/* HEADER */

.header {
  background-color: #000000;
  margin-bottom: 121px;
}

.header__wrapper {
  width: 1160px;
  min-height: 100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "logo menu menu menu menu menu list list";
  align-items: end;
  padding-bottom: 17px;
}
.header__logo-link {
  grid-area: logo;
}
.header__menu {
  grid-area: menu;
}
.header__links-list {
  font-family: "DM Mono", sans-serif;
  font-size: 16px;
  display: flex;
  gap: 44px;
  align-items: center;
  padding: 0 0 10px 18px;
}
.header__link:visited {
  color: #fff;
}
.header__social-links-list {
  display: flex;
  grid-area: list;
  gap: 12px;
  justify-self: end;
}

/* MAiN */

.content {
  background-color: #000000;
  flex: 1 1 auto;
}

/* HERO SECTION */

.hero_section {
  width: 1400px;
  min-height: 564px;
  margin-left: 40px;
  margin-bottom: 77px;
  display: flex;
}
.hero_section-brief-wrapper {
  min-height: 100%;
  padding: 146px 0 0 36px;
  display: flex;
  flex-direction: column;
}
.hero_section-title {
  font-family: "Audiowide", sans-serif;
  font-size: 51px;
  line-height: 120%;
}
.hero_section-text {
  flex: 1 1 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  min-height: 50px;
  width: 337px;
  line-height: 155%;
  padding-top: 45px;
}
.button {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  width: 203px;
  font-family: "DM Mono", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #00e626;
}
.hero_section-image-wrapper {
  padding-top: 10px;
}

/* PREVIEW SECTION */

.section_preview {
  width: 1160px;
  min-height: 545px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "greet text";
  margin-bottom: 118px;
}
.sectionn_preview-greetings-wrapper {
  grid-area: greet;
  padding: 10px 0 0 34px;
  display: flex;
  flex-direction: column;
}
.sectionn_preview-greetings-title {
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  padding: 0 100px 0 33px;
  line-height: 120%;
  margin-bottom: 41px;
}
.sectionn_preview-greetings-title span {
  color: #a8a8a8;
}
.sectionn_preview-greetings-image {
  width: 294px;
  height: 360px;
}
.section_preview-text-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
  padding: 11px 0 59px 0;
  justify-content: space-between;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 242px;
  gap: 17px;
  padding-bottom: 10px;
}
.section_preview-title {
  color: #8dfd1b;
  font-family: "DM Mono", sans-serif;
  font-size: 21px;
  border-left: 2px solid #8dfd1b;
  padding-left: 20px;
  line-height: 152%;
}

.section_preview-text {
  width: 551px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 172%;
}
.smaller-text {
  font-size: 15px;
}
.section_preview-text:last-child {
  margin-bottom: 0;
}
.section_preview-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Mono", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  min-height: 42px;
  width: 246px;
  border: 2px solid #8dfd1b;
}
.section_preview-btn:visited {
  color: #fff;
}

/* BELT */

.belt {
  width: 100%;
  min-height: 88px;
  background-image: url(../images/belt_bckg.svg);
  margin-bottom: 120px;
}

/* ARTIST SECTION */

.section_artists {
  width: 1160px;
  min-height: 678px;
  margin-left: 40px;
  margin-bottom: 240px;
}
.artists_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}
.artists_list-item {
}
.card_artist {
  min-height: 309px;
  min-width: 245px;
}
.artist-name {
  min-height: 64px;
  font-family: "DM Mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
}

/* SECTION STORY */

.section_story {
  width: 1160px;
  min-height: 643px;
  margin: 0 0 120px 40px;
  display: grid;
  grid-template-columns: 282px 878px; 
  grid-template-rows: 105px 538px;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "list content";
}

.section_story-title {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  font-size: 37px;
  line-height: 107%;
  letter-spacing: 0.01em;
  grid-area: header;
  text-align: center;
}
.section_story-title span {
  color: #a8a8a8;
  font-size: 38px;
}
.section_story-list {
  grid-area: list;
}

.section_story-list .active {
  background-color: #222222;
  color: #8dfd1b;
}
.section_story-list-item {
  font-family: "DM Mono", sans-serif;
  font-family: 16px;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-wrapper {
  background-color: #222222;
}
.section_story-content-wrapper {
height: inherit;
  padding: 60px ;
  display: grid;
  background-color: #222222;
  grid-template-columns: 0.7fr 1.3fr; 
  grid-template-rows: 0.6fr 1.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "img title"
    "img text"; 
    gap: 0px 40px; 
}
.section_story-content-title {
  color: #8dfd1b;
  font-family: "DM Mono", sans-serif;
  font-size: 21px;
  border-left: 2px solid #8dfd1b;
  padding-left: 20px;
  line-height: 152%;
  grid-area: title;
  padding-top: 12px;
  height: 100px;
}
.section_story-text-wrapper {
  grid-area: text;
  display: flex;
  flex-direction: column;
  padding: 11px 0 16px 0;
  justify-content: space-between;
}
.section_story-content-img{
  grid-area: img;
}
.section_story-text {
  width: 522px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 172%;
}
.section_story-text:last-child {
  margin-bottom: 0;
}

/* BELT IMAGE*/


.img_belt{
background-image: url(../images/belt_section.png);
min-height: 240px;
}

/* FOOTER */

.footer {
  background-color: #42006a;
}
